* {
    box-sizing: border-box;
    font-family: 'Helvetica', Arial, Sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.container2 {
    display: flex;
    margin: 10px;
}
.header {
    font-size: 35px;
    font-weight: bold;
    line-height: 2;
}
.navlinks {
    text-decoration: none;
    color: darkred;
    padding: 5px;
    font-size: 22px;
    border: 1px solid black;
    border-radius: 20px;
    line-height: 2;
}
.navlinks:hover {
    text-decoration: none;
    padding: 5px;
    font-size: 22px;
    border: 1px solid black;
    border-radius: 20px;
    line-height: 2;
    background-color: lightgray;
}
img {
    display: block;
    width: 100%;
    height: auto;
  }
.image1 {
    width: 800px;
}
.paragraph {
    width: 45%;
    margin-left: 10px;
}
.bigname {
    font-size: 60px;
    font-weight: bold;
    line-height: 2;
}
.bigname-proj {
    margin-left: 10px;
}